Source: ros-groovy-sdf-tracker
Section: misc
Priority: extra
Maintainer: Daniel Canelhas <daniel.canelhas@oru.se>
Build-Depends: debhelper (>= 7.0.50~), libeigen3-dev, libvtk5-dev, ros-groovy-catkin, ros-groovy-cv-bridge, ros-groovy-opencv2, ros-groovy-roscpp, ros-groovy-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-sdf-tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvtk5-dev, ros-groovy-cv-bridge, ros-groovy-opencv2, ros-groovy-roscpp, ros-groovy-std-msgs
Description: The sdf_tracker package
