Source: ros-hydro-ndt-costmap
Section: misc
Priority: extra
Maintainer: tsv <tsv@todo.todo>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libpcl-1.7-all-dev, ros-hydro-catkin, ros-hydro-ndt-map, ros-hydro-ndt-visualisation, ros-hydro-opencv2, ros-hydro-pcl-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-ndt-costmap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libpcl-1.7-all-dev, ros-hydro-ndt-map, ros-hydro-ndt-visualisation, ros-hydro-opencv2, ros-hydro-pcl-ros
Description: The ndt_costmap package
